JIRA_URL=https://yourcompany.atlassian.net
JIRA_EMAIL=you@company.com
JIRA_TOKEN=your_api_token_here
TEAM_EMAILS=teammate1@company.com,teammate2@company.com,teammate3@company.com
REFRESH_INTERVAL=5m
JIRA_PROJECT=APP,SOS
JIRA_LABELS=R1.1
JIRA_FIXED_STATUS=ALREADY DEPLOYED
JIRA_TEAM_FROM=2001-01-01